.data-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 90vw;
  margin: 30px;
}
.data-table {
  height: 80vh;
  width: 80vw;
}
