.data-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 95vw;
  margin: 30px;
}
.data-table {
  height: 80vh;
  width: 90vw;
}
.ant-table-thead > tr > th {
  font-weight: 800 !important;
  font-size: 17px !important;
}
